<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="utf-8"> 
        <title>IGTIFlix</title>   
        <link rel="stylesheet" href="{% static 'css/reset.css' %}"  type="text/css">
        <link rel="stylesheet" href="{% static 'css/principal.css' %}" type=text/css>
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" type=text/css>
        <link rel="stylesheet" href="{% static 'css/crud.css' %}" type=text/css>
        <link rel="stylesheet" href="{% static 'css/principal.css' %}">
    </head>

    <body>
        {% include "../menu.html" %}
        <main>
            <h1 class="titulo">IGTIFlix</h1>
            <div class="conteiner">
                {% if serie_list %}
                <div>
                    <table>
                        <thead>
                            <tr>
                                <th>Série</th>
                                <th>Gênero</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for serie in serie_list %}
                            <tr>
                                <td> {{ serie.nome }} </td>
                                <td> {{ serie.idGenero.descricao}} </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="alert">
                    <p>Não há séries cadastradas.</p>
                </div>
                {% endif %}
            </div>
        </main>

        <footer>
            <div class="conteiner">
                <div class="footer">
                    <p>Gabriel Laurindo</p>
                    <p>Curso IGTI - 2020</p>
                    <p>Python para Aplicações WEB</p>
                </div>
            </div>
        </footer>
    </body>
</html>